* {
    box-sizing: content-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a1d1e;
    overflow-x: hidden;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;   
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.509);
    color: white;
}

#backgound {
    position: absolute;
    zoom: 95%;
    top: -290px;
    left: -200px;
    z-index: -1;
}

#navbar {
    display: flex;
    flex-direction: row;
    height: 86px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

#logo {
    height: 80px;
    position: relative;
    top: -5px;
    left: 150px;
}

#lang {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2px solid grey;
    height: 20px;
    border-radius: 4px;
    position: relative;
    left: 900px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.411);
    margin: auto;
}

#selector {
    color: white;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.411);
    border: none;
    font-size: 15px;
}

#globe {
    color: white;
    background-color: transparent   ;
}

#signin {
    margin: auto;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 14px;
    position: relative;
    cursor: pointer;
    left: 900px;
}

#signin:hover {
    background-color: #c11119;
}

#getstarted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 30px;
}

.heading, .subheading, .text{
    font-weight: 900;
    font-size: 42px;
    color: #e8e6e3;
    margin-top: 16px;
    text-align: center;
}

.subheading {
    font-size: 25px;
    font-weight: 400;
}

.text {
    font-size: 21px;
    font-weight: 400;
    margin-top: 25px;
}

#text_button {
    margin-top: 16px;
    position: relative;
    left: 490px;
}

#email {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 20px 15px;
    border: .2px solid rgba(168, 168, 168, 0.678);
    border-radius: 4px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 550;
    width: 23%;
    position: relative;
}

#getstarted_button {
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    padding: 15px 25px;
    color: #e8e6e3;
    font-size: 25px;
    font-weight: 525;
    margin-left: 5px;
    cursor: pointer;
}

#getstarted_button:hover {
    background-color: #c11119;
}

/* ---------------------------------------------------------------------------------------------------- */
/*                                  Section 1 Ends Here                                                 */
/* ---------------------------------------------------------------------------------------------------- */


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    padding: 45px 0px;
    margin: 10px 0px ;
    width: 100vw;
}

#tv_video {
    position: absolute;
    top: 145px;
    right: 230px;
}

#tv {
    position: relative;
    z-index: 1;
}

/* ---------------------------------------------------------------------------------------------------- */
/*                                  Section 2 Ends Here                                                 */
/* ---------------------------------------------------------------------------------------------------- */

#download_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 8px 12px;
    width: 317px;
    height: 78px;
    position: absolute;
    left: 315px;
    bottom: 100px;
}

#panel_text, #downloading{
    margin-bottom: 5px;
    font-weight: 550;
    font-size: 15px;
    color: white;
    position: relative;
    right: 20px;
}

#downloading {
    color: #0071eb;
    font-size: 15px;
    font-weight: normal;
}

#donwload_icon {
    scale: 1.2;
    color: white;
    position: relative;
    left: 80px;
}

#poster {
    scale: 0.4;
    /* margin-right: 20px; */
    position: absolute;
    left: -35px;
}

/* ---------------------------------------------------------------------------------------------------- */
/*                                  Section 3 Ends Here                                                 */
/* ---------------------------------------------------------------------------------------------------- */

#pile_in {
    width: 425px;
    position: absolute;
    top: 100px;
    right: 295px;
}

#pile_in_tv {
    position: relative;
    z-index: 1;
}

/* ---------------------------------------------------------------------------------------------------- */
/*                                  Section 4 Ends Here                                                 */
/* ---------------------------------------------------------------------------------------------------- */

#section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 36px 0px;
}

.faq {
    list-style-type: none;
    text-align: left;
}

.faq li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    border: none;
    width: 75%;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 5px;
}

.collapsible:hover {
    background-color: #4e4e4e;
}

.collapsible::after {
    content: url("Images/Index/plus_icon.svg");
    scale: 0.9;
}

.active::after {
    transform:rotate(45deg);
}

.content {
    background-color: #2d2d2d;
    margin-top: 2px;
    width: 75%;
    padding: 0px 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.content p {
    padding: 30px 0px;
}

#section6 .text {
    margin-top: 60px;
}

/* ---------------------------------------------------------------------------------------------------- */
/*                                       Body Ends Here                                                 */
/* ---------------------------------------------------------------------------------------------------- */

footer {
    background-color: black;
    margin-top: 10px;
    padding: 60px 0px;
}

.footer, a, footer li {
    color: rgb(159, 159, 159);
    font-size: 14px;
    margin: 15px 0px;
}

ul {
    list-style-type: none;
}

footer div {
    width: 80%;
    margin: 0px auto;
}

#footer_links {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
}

